{% extends 'base.html.twig' %}

{% block body %}
    <h1>Me contacter</h1>

    <p>Émilie Charlier</p>
    <p>Doctorante</p>
    <p>Service de sciences de la famille – Université de Mons (UMONS)</p>
    <p>Vous pouvez me contacter via l’adresse suivante : <a href="mailto:contact@groupesdeparole.be">contact@groupesdeparole.be</a></p>
{% endblock %}