{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci pour votre participation !</h1>
    <p>Merci d'avoir participé à la recherche !</p>
    <p>N’hésitez pas à diffuser le lien vers le questionnaire (https://groupesdeparole.be) à vos contacts, pour que la recherche puisse récolter un maximum de réponses !</p>
{% endblock %}