{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci de votre participation !</h1>
    <p>Merci d'avoir participé à la recherche !</p>
    <p>N'hésitez pas à transmettre le lien du questionnaire à vos contacts pour que le questionnaire puisse obtenir un maximum de réponses.</p>
    <p>Emilie Charlier</p>
{% endblock %}