{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recherche sur les groupes de parole</h1>
    <p></p>
    <h2>Sur quoi porte la recherche ?</h2>
    <p>Cette recherche s’intéresse aux difficultés rencontrées par les personnes impliquées dans un ou plusieurs groupe(s) de parole et aux défis que doivent relever ces dispositifs en Belgique francophone.</p>
    <p>Il s’agit de prolonger certains questionnements issus d’une précédente recherche, qui porte plus spécifiquement sur les groupes de parole pour les (aidants) proches de personnes qui font face à un événement de vie difficile.</p>
    <p>Ici, la recherche s’intéresse à tous les groupes, quels que soient leurs thématiques, modes de fonctionnement, etc. et à l’avis de tous les acteurs impliqués (animateurs, participants, organisateurs, etc.). L’objectif est aussi de s’interroger sur les groupes de parole dans le contexte actuel</p>
    <h2>Pourquoi cette recherche est-elle importante ?</h2>
    <p>Cette recherche permet de donner une meilleure visibilité aux groupes de parole et de mieux connaître et comprendre les défis auxquels ils sont confrontés.</p>
    <p>Il ne s’agit pas d’être dans une démarche négative : bien sûr que les groupes ont aussi des points forts ! Le but n’est pas de critiquer mais d’identifier les éventuels points faibles / difficultés / enjeux… pour envisager des pistes de solution.</p>
    <p>Mais cela ne peut se faire qu’avec la participation des premiers concernés. Au plus il y aura de répondants, au plus je pourrai récolter des informations utiles pour cette recherche. Aussi, n’hésitez pas à diffuser le lien du questionnaire (<a href="https://groupesdeparole.be">https://groupesdeparole.be</a>) à vos contacts !</p>
    <h2>C’est quoi ce questionnaire ?</h2>
    <p>Le questionnaire s’adresse à toute personne ayant une expérience liée à un (ou plusieurs) groupe(s) de parole : aussi bien aux participants, animateurs, organisateurs qu’aux intervenants ponctuels. C’est justement le fait d’avoir plusieurs points de vue différents que je trouve intéressant.</p>
    <p>Les questions permettent de mieux connaître votre expérience personnelle. Il y a des questions fermées (il faudra cocher la case qui correspond le mieux à votre situation) et des questions ouvertes (où vous aurez l’occasion de vous exprimer librement). N’hésitez pas à développer vos réponses, donner des exemples !</p>
    <p>C’est totalement anonyme. Si vous le souhaitez, vous pouvez laisser une adresse mail à laquelle un résumé des résultats de la recherche vous sera envoyé. Évidemment, votre adresse restera confidentiellement et ne sera pas utilisées à d’autres fins.</p>
    <p>Le questionnaire est un outil utile pour récolter des données mais les échanges permettent d’aller plus loin. Vous avez donc aussi la possibilité de laisser votre adresse mail si vous acceptez d’être contacté(e) pour répondre à quelques questions supplémentaires. Ce n’est bien entendu pas obligatoire mais cela me serait très utile : en effet, cela représente un moyen précieux de recueillir des informations plus riches et nuancées, et aussi de m’assurer que j’ai bien compris vos réponses au questionnaire.</p>
    <p>Concrètement, il s’agit de vous envoyer une question à la fois. Pour chaque question, vous pouvez donc prendre le temps de répondre lorsque vous êtes disponible. Votre réponse appellera une nouvelle question, et ainsi de suite. Les échanges s’arrêtent lorsque vous le souhaitez ou qu’on a fait le tour du sujet. Vous restez libre de changer d’avis et/ou de ne pas répondre à mes questions durant tout le processus. Dans tous les cas, les informations seront traitées de manière confidentielle.</p>
{% endblock %}