{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recherche sur les groupes de parole</h1>

    <h2>Sur quoi porte la recherche ?</h2>
    <p>La recherche en cours s’intéresse aux difficultés rencontrées par les personnes impliquées dans un ou plusieurs groupes de parole et aux défis des dispositifs en Belgique francophone.</p>
    <p>Il s’agit de prolonger certains questionnements issus d’une précédente recherche, qui porte plus spécifiquement sur les groupes de parole « pour proches ». Ici, ma recherche s’intéresse à tous les groupes – quels que soient leurs thématiques, modes de fonctionnement, etc. – et à l’avis de tous les acteurs impliqués.</p>
    <p>L’objectif est aussi de présenter les groupes dans le contexte actuel : est-ce qu’un groupe aujourd’hui c’est la même chose qu’un groupe il y a vingt ans ? Est-ce que la société telle qu’elle fonctionne influence les groupes de parole ? etc.</p>
    <br \>
    <h2>Pourquoi cette recherche est-elle importante ?</h2>
    <p>Cette recherche permet de donner une meilleure visibilité aux groupes de parole et de connaître les défis auxquels ils sont confrontés.</p>
    <p>Évidemment, les groupes de parole ont aussi plein de points forts ! La recherche ne s’inscrit pas dans une démarche négative ; il ne s’agit pas de critiquer mais bien d’identifier les (éventuelles) difficultés qui peuvent se présenter. Parce qu’identifier les points faibles et les enjeux permettra aussi peut-être d’envisager des pistes de solution… Mais cela ne peut se faire qu’avec votre participation !</p>
    <br \>
    <h2>En quoi consiste ce questionnaire ?</h2>
    <p>Ce questionnaire s’adresse à toute personne ayant une expérience liée à un ou plusieurs groupe(s) de parole : aussi bien aux participants qu’aux animateurs et aux organisateurs !
    <p>Il permet de mieux connaître votre expérience personnelle sur le sujet, au travers de questions. Il y a des questions fermées (il vous faudra cocher la case qui correspond le mieux à votre situation) et d’autres ouvertes (où vous aurez l’occasion de vous exprimer plus librement). C’est totalement anonyme.</p>
    <p>Si vous le souhaitez, vous pouvez laisser une adresse mail à laquelle un résumé des résultats de recherche vous sera envoyé. Evidemment, votre adresse restera confidentielle et ne sera pas utilisée à d’autres fins que ce retour.</p>
    <p>Je trouve aussi très intéressant de pouvoir échanger de manière plus approfondie avec vous sur votre expérience. En effet, le questionnaire est un outil très utile pour récolter des informations mais il ne remplace pas une discussion plus directe. Vous avez la possibilité de laisser votre adresse mail si vous accepté d’être contacté(e) pour répondre par mail à quelques questions supplémentaires. Ce n’est bien entendu pas obligatoire, vous êtes libre de refuser, de changer d’avis et/ou de ne pas répondre à nos questions. Mais cela me serait utile !</p>
    <p>Concrètement, il s’agitait de vous envoyer une question à la fois. Pour chaque question, vous pouvez prendre le temps de répondre lorsque vous êtes disponible. Votre réponse appellera une nouvelle question, et ainsi de suite. Les échanges s’arrêtent lorsque vous le souhaitez ou que nous avons fait le tour du sujet.</p>
    <p>Avec ce mode de fonctionnement, vous n’avez pas besoin de bloquer du temps pour une rencontre en face-à-face. Pour moi, c’est un moyen précieux de recueillir des informations plus riches et nuancées, de s’assurer de sa bonne compréhension de votre avis.</p>
    <br \>
    <h2>Vous souhaiteriez recevoir des renseignements complémentaires ?</h2>
    <p>Si vous avez des questions et/ou souhaiteriez obtenir plus d’informations à propos de la recherche en cours, vous pouvez contacter me contacter à l’adresse suivante : contact@groupesdeparole.be
    <p>N’hésitez pas à transmettre le lien du questionnaire à vos contacts ! Au plus il y aura de répondants, aux plus nous aurons de renseignements utiles pour la recherche. Merci d’avance.

    <p>Emilie Charlier
        Doctorante

        Service de sciences de la famille – Université de Mons
    </p>
{% endblock %}